/*----------------------------------*
 |       Cards / Tiles styling      |
 *----------------------------------*/

 .mosaic-tiles {
    padding: 2rem 6rem 2rem 6rem;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(18, minmax(50px, 1fr)); // <-- Change this for when posts overflow
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 5px;
 }

 .mosaic-tiles-items {
    border: 1px solid rgba(#2695D2, 0.8);
    border-radius: .33em;
    color: $color-text;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

    .mosaic-tiles-front, .mosaic-tiles-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mosaic-tiles-back { transform: rotateY(180deg); }

    .mosaic-tiles-front { 
        background-image: url(https://i.pinimg.com/originals/0c/9b/3f/0c9b3fa0cb0b74b810a9309f6b442e84.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    // &.medium == .mosaic-tiles-items.medium 
    &.medium {
        grid-row: span 3;
        grid-column: span 1;
    }

    // &.large == .mosaic-tiles-items.large 
    &.large {
        grid-row: span 6;
        grid-column: span 2;
    }
 }

 .mosaic-tiles-items:hover { transform: rotateY(180deg);}
