 /****************************
 ***       Variables       ***
 *****************************/

 $color-body: #000;
 $color-text: #FEF9E7;
 $color-header-rgba: rgba(#141414, 0.7);
 $font-base: 'Helvetica', 'Arial', 'Sans-Serif';
 $line-height: 1.4em;
 $font-size-general: 0.9em;
 $link-color-hover: rgba(#FFD430, 1);
 $element-padding: 1rem 3rem 1rem 3rem;