/****************************
* Reset some basic elements *
*****************************/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/****************************
***       Variables       ***
*****************************/
/****************************
***     Base Styling      ***
*****************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #000;
  transition: background-color 0.5s; }

p, span, li {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: 0.9em;
  color: #FEF9E7;
  text-align: justify;
  line-height: 1.4em; }

h1 {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #FEF9E7; }

a {
  color: rgba(255, 212, 48, 0.9);
  text-decoration: none; }

a:hover {
  color: #ffd430;
  text-decoration: underline; }

/******************************************
 ***     Sidebar Navigation Styling     ***
 ******************************************/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s; }
  .sidebar #whole-sidebar-nav {
    overflow: hidden;
    background: rgba(38, 149, 210, 0.1);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    image-rendering: pixelated;
    font-family: "Helvetica", "Arial", "Sans-Serif"; }
  .sidebar .sidebar-nav a {
    display: block;
    transition: 0.3s; }
  .sidebar #close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2em;
    margin-left: 4em; }
  .sidebar nav ul, .sidebar footer ul {
    font-family: "Helvetica", "Arial", "Sans-Serif";
    padding: 1rem 1rem 2rem 0rem;
    list-style: none;
    font-weight: bold; }

.site-header {
  width: 100%;
  height: 10%;
  padding: 1rem;
  color: #FEF9E7;
  font-family: "Helvetica", "Arial", "Sans-Serif"; }
  .site-header #header-logo {
    font-size: 2rem;
    font-weight: bolder; }

.sidebar-about {
  padding-top: 5rem; }
  .sidebar-about h1 {
    padding: 0rem 1rem 1rem 1rem;
    font-family: "Helvetica", "Arial", "Sans-Serif"; }
  .sidebar-about p {
    padding: 0rem 1rem 1rem 1rem; }

.sidebar-nav {
  padding: 0rem 1rem 1rem 1rem; }

#copyright-statement {
  padding: 1rem; }

#footer-content, #main-content {
  transition: margin-left .5s; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
/******************************************
 ***              Content               ***
 ******************************************/
/*-----------------------------------------------------------------*
 |         Base Content Texts, Lists, Links, Images styling        |
 *-----------------------------------------------------------------*/
.container {
  font-size: 0.9em;
  color: #FEF9E7; }
  .container h1, .container h2, .container h3, .container p, .container span.tag-list {
    padding: 1rem 3rem 1rem 3rem;
    font-family: "Helvetica", "Arial", "Sans-Serif"; }
  .container ol, .container ul {
    padding: 1rem 5rem 1rem 5rem;
    font-family: "Helvetica", "Arial", "Sans-Serif"; }
  .container h1 {
    font-size: 3em; }
  .container h2 {
    font-size: 1.5em; }
  .container h3 {
    font-size: 1.2em; }
  .container p {
    font-size: 1.09em;
    line-height: 1.4em;
    color: #FEF9E7; }
  .container ul.post, .container ul.mosaic-posts {
    margin: 20px auto 40px;
    font-size: 0.9em; }
  .container img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.terms-def {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 1rem 1rem 2rem 0rem;
  flex-wrap: wrap; }

/*------------------------------------*
 |         Site Footer styling        |
 *------------------------------------*/
.site-footer ul {
  margin-left: 50px;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 1rem 2rem 1rem 0rem;
  list-style: none;
  font-weight: bold; }

/*----------------------------------*
 |        Block Quote styling       |
 *----------------------------------*/
.quote-bubble blockquote {
  margin: auto;
  width: 83%; }
  .quote-bubble blockquote p {
    padding: 1em;
    background-color: rgba(38, 149, 210, 0.1);
    border: 1px solid rgba(38, 149, 210, 0.8);
    border-radius: .33em;
    text-align: justify;
    text-align-last: center; }
  .quote-bubble blockquote footer {
    font-size: 1em;
    color: #FFC300;
    padding-top: 0.5em;
    font-weight: bold; }
    .quote-bubble blockquote footer a {
      padding: 0.5rem; }
  .quote-bubble blockquote p::before {
    content: '\201C'; }
  .quote-bubble blockquote p::after {
    content: '\201D'; }
  .quote-bubble blockquote span.inner-quote {
    font-family: "Helvetica", "Arial", "Sans-Serif"; }
  .quote-bubble blockquote span.highlight {
    color: #FFC300; }

/*----------------------------------*
 |       Cards / Tiles styling      |
 *----------------------------------*/
/*----------------------------------*
 |       Cards / Tiles styling      |
 *----------------------------------*/
.mosaic-tiles {
  padding: 2rem 6rem 2rem 6rem;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(18, minmax(50px, 1fr));
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 5px; }

.mosaic-tiles-items {
  border: 1px solid rgba(38, 149, 210, 0.8);
  border-radius: .33em;
  color: #FEF9E7;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d; }
  .mosaic-tiles-items .mosaic-tiles-front, .mosaic-tiles-items .mosaic-tiles-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis; }
  .mosaic-tiles-items .mosaic-tiles-back {
    transform: rotateY(180deg); }
  .mosaic-tiles-items .mosaic-tiles-front {
    background-image: url(https://i.pinimg.com/originals/0c/9b/3f/0c9b3fa0cb0b74b810a9309f6b442e84.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .mosaic-tiles-items.medium {
    grid-row: span 3;
    grid-column: span 1; }
  .mosaic-tiles-items.large {
    grid-row: span 6;
    grid-column: span 2; }

.mosaic-tiles-items:hover {
  transform: rotateY(180deg); }

/******************************************
 ***          Jupyter Notebooks         ***
 ******************************************/
/********************************************
 ** Markdown styling for Jupyter notebooks **
 ********************************************/
/*----------------------------------*
 |         Table styling            |
 *----------------------------------*/
table {
  margin: auto;
  width: 83%;
  border-radius: 0.4rem; }

table tr {
  border-top: 1px solid rgba(38, 149, 210, 0.8);
  background-color: rgba(38, 149, 210, 0.1);
  margin: 0;
  padding: 0; }

table tr:nth-child(2n) {
  background-color: rgba(38, 149, 210, 0.1); }

table tr th {
  font-weight: bold;
  border: 1px solid rgba(38, 149, 210, 0.8);
  text-align: left;
  margin: 0;
  padding: 6px 13px; }

table tr td {
  border: 1px solid rgba(38, 149, 210, 0.8);
  text-align: left;
  margin: 0;
  padding: 6px 13px; }

table tr th :first-child, table tr td :first-child {
  margin-top: 0; }

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; }

/*-----------------------------------*
 |        Code Block styling         |
 *-----------------------------------*/
p, li {
  padding: 0.2rem; }
  p code, li code {
    background: rgba(38, 149, 210, 0.2);
    padding: 0.1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #FFC300; }

.language-python {
  padding: 1rem; }

.highlighter-rouge .highlight pre code {
  width: 83%;
  margin: auto;
  background: rgba(38, 149, 210, 0.1);
  border: 1px solid rgba(38, 149, 210, 0.8);
  padding: 1rem;
  display: block;
  border-radius: 0.7rem;
  overflow: auto; }
  .highlighter-rouge .highlight pre code span {
    font-family: 'Courier New', Courier, monospace; }

/*-----------------------------------*
 |      Table Of Contents styling    |
 *-----------------------------------*/
#Table-of-Contents {
  margin: auto;
  width: 60%;
  background: rgba(38, 149, 210, 0.1);
  border: 1px solid rgba(38, 149, 210, 0.8);
  padding: 1rem;
  display: block;
  border-radius: 0.7rem;
  overflow: auto; }
  #Table-of-Contents #TOC {
    padding: 1rem 3rem 0rem 3rem; }
  #Table-of-Contents ul, #Table-of-Contents ol {
    padding: 1rem 5rem 1rem 2rem; }
    #Table-of-Contents ul ul, #Table-of-Contents ol ul {
      padding: 0rem 1rem 0rem 2rem; }

/*# sourceMappingURL=densetsu.css.map */
