<!DOCTYPE html>
<html>
	<!-- HTML Header: Used Liquid Templating-->
	{% include default_head.html %}

	<!-- HTML Body: -->
	<body>
		<!-- Body Part 1: Header of the page -->
		{% include default_header.html %}

		<!-- Body Part 2: Sidebar -->
		{% include default_sidebar.html %}

		<!-- Body Part 3: All Content -->
		<div id="main-content" class="container">
			{{ content }}
		</div><!-- /.container -->

		<!-- Body Part 4: The Footer of the page -->
		{% include default_footer.html %}

		<!-- Javascript to make things look dope -->
		<script src="/js/sidebar_nav.js"></script>
	</body>
</html>
